src/__pycache__/
src/core/__pycache__/
src/ingestion/__pycache__/
src/utils/__pycache__/
src/config/__pycache__/
.vscode/
.ipynb_checkpoints/
outputs/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
logs/
__pycache__/
*.pyc
*.pyo
src/config/__pycache__/
src/db/__pycache__/
src/industrial_downtime/db/__pycache__/
src/industrial_downtime/ingestion/__pycache__/
src/industrial_downtime/core/__pycache__/
src/industrial_downtime/utils/__pycache__/
src/industrial_downtime/config/__pycache__/
src/industrial_downtime/industrial_downtime.egg-info/
.venv/
.env/